[submodule "libs/appbase"]
	path = libs/appbase
	url = https://github.com/noir-protocol/appbase
[submodule "libs/Catch2"]
	path = libs/Catch2
	url = https://github.com/catchorg/Catch2
[submodule "libs/expected"]
	path = libs/expected
	url = https://github.com/TartanLlama/expected
[submodule "libs/fc"]
	path = libs/fc
	url = https://github.com/noir-protocol/fc
[submodule "libs/rocksdb"]
	path = libs/rocksdb
	url = https://github.com/facebook/rocksdb.git
[submodule "libs/softfloat"]
	path = libs/softfloat
	url = https://github.com/eosio/berkeley-softfloat-3
[submodule "libs/fmt"]
	path = libs/fmt
	url = https://github.com/fmtlib/fmt
[submodule "libs/websocketpp"]
	path = libs/websocketpp
	url = https://github.com/zaphoyd/websocketpp
[submodule "libs/XKCP"]
	path = libs/XKCP
	url = https://github.com/XKCP/XKCP
