[submodule "libs/appbase"]
	path = libs/appbase
	url = https://github.com/noir-protocol/appbase
[submodule "libs/Catch2"]
	path = libs/Catch2
	url = https://github.com/catchorg/Catch2
[submodule "libs/expected"]
	path = libs/expected
	url = https://github.com/TartanLlama/expected
[submodule "libs/fc"]
	path = libs/fc
	url = https://github.com/noir-protocol/fc
[submodule "libs/websocketpp"]
	path = libs/websocketpp
	url = https://github.com/zaphoyd/websocketpp
